.footer
  padding-bottom: 50px
  .footer__container
    @include flex-all-center
    flex-direction: column
  .footer__socials
    margin-top: 15px
    .footer__socials-list
      @include flex-v-center
    .footer__socials-item
      @include mr(15px)
    .footer__socials-icon
      path
        transition: fill 0.1s $transitionTimeFoo
      &:hover
        path
          fill: $active-hover-color
  .footer__legal
    margin-top: 30px
    color: $default-text-color
