.header
  position: absolute
  z-index: 100
  width: 100%
  top: 0
  padding: 40px 0px
  .header__container
    @include flex-all-sb
  .header__logo
    @include flex-v-center
    .header__logo-icon
      width: 35px
    .header__logo-name
      color: $default-text-color
      font-size: 25px
      text-transform: uppercase
      margin-left: 15px
  .header__nav
    .header__nav-list
      @include flex-v-center
    .header__nav-item
      @include mr(50px)
    .header__nav-link
      font-weight: 500
      color: $default-text-color
      letter-spacing: 2px
      transition: color 0.1s $transitionTimeFoo
      &.active
        color: $active-hover-color
      &:hover
        color: $active-hover-color
  .burger
    color: $default-text-color
    display: none
