.header
  padding: 40px 0px
  .header__container
    @include flex-all-sb
  .header__logo
    @include flex-v-center
    .header__logo-icon
      width: 35px
    .header__logo-name
      color: $default-text-color
      font-size: 25px
      text-transform: uppercase
      margin-left: 15px
  .header__nav
    .header__nav-list
      @include flex-v-center
    .header__nav-item
      // margin: 0px 30px
      @include mr(50px)
    .header__nav-link
      font-weight: 500
      color: $default-text-color
      letter-spacing: 2px
      transition: color 0.1s ease-in-out
      &.active
        color: $active-hover-color
      &:hover
        color: $active-hover-color
  .header__socials
    .header__socials-list
      @include flex-v-center
    .header__socials-item
      @include mr(15px)
    .header__socials-icon
      path
        transition: fill 0.1s ease-in-out
      &:hover
        path
          fill: $active-hover-color
  .burger
    color: $default-text-color
    display: none
