.modal
  .modal__container
    position: absolute
    border-radius: 0
    padding: 0
    left: 50%
    top: 50%
    margin: 0
    transform: translate(-50%,-50%)
    background-color: transparent
    width: 80%
    box-shadow: 0px 0px 80px 10px #2db2ff15
  .modal__close
    z-index: 2
    background-image: url('../img/modal-cross.svg')
    background-repeat: no-repeat
    background-size: 100%
    background-position: center
    width: 50px
    height: 50px
    top: 30px
    right: 30px
  .modal__content
    display: flex
    align-items: center
    color: #e2e2e2
  .modal__about
    z-index: 0
    position: relative
    width: 50%
    height: 85vh
    background: url('../img/modal-bg.jpg') no-repeat center / 200%
    background-size: 60% 60%
    overflow: hidden
    &::before
      content: ''
      position: absolute
      z-index: 1
      top: 0
      bottom: 0
      left: 0
      right: 0
      background-color: $default-bg-color
      opacity: 0.8
    .modal__about-content
      position: absolute
      z-index: 2
      top: 0
      bottom: 0
      left: 0
      right: 0
      &::before
        content: 'ABOUT'
        position: absolute
        right: -30%
        top: -5%
        color: #333
        font-size: 25vh
        font-weight: 600

  .modal__contact
    position: relative
    z-index: 0
    width: 50%
    height: 85vh
    background-color: #181818
    overflow: hidden
    .modal__contact-content
      &::before
        content: 'CONTACT'
        position: absolute
        right: -50%
        bottom: -5%
        color: #333
        font-size: 25vh
        font-weight: 600

