*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,:before.after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

body{font-family: 'Titillium Web', sans-serif;}
a{
	color: #fff;
	font-size: 16px;
	font-weight: 400;
}
input:-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
p{font-size: 16px; font-weight: 300;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 700;line-height: 1.2em;}
h1{font-size: 42px;}
h2{font-size: 40px;}
h3{font-size: 24px;}
h4{font-size: 18px; font-weight: 500;margin-top: 32px;}
.header{
	color: #fff;
	padding-top: 60px;
	background-color: #87509c;
}

.container{
	margin: 0 auto;
	width: 1100px;
}
.hamburger-menu{
   display: none;
}
#menu__toggle {
   opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
   display: flex; /* используем flex для центрирования содержимого */
   align-items: center;  /* центрируем содержимое кнопки */
   position: fixed;
   top: 20px;
   right: 20px;
   width: 26px;
   height: 26px;
   cursor: pointer;
   z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span,.menu__btn > span::before,.menu__btn > span::after {
   display: block;
   position: absolute;
   width: 100%;
   height: 2px;
   background-color: #dbdbdb;
}
.menu__btn > span::before {
   content: '';
   top: -8px;
}
.menu__btn > span::after {
   content: '';
   top: 8px;
}
.menu__box {
   display: block;
   position: fixed;
   visibility: hidden;
   top: 0;
   left: -100%;
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 80px 0;
   list-style: none;
   text-align: center;
   background-color: #c040e0;
   box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}
/* элементы меню */
.menu__item {
   display: block;
   padding: 12px 24px;
   color: rgb(255, 255, 255);
   font-family: 'Roboto', sans-serif;
   font-size: 20px;
   font-weight: 600;
   text-decoration: none;
}
.menu__item:hover {
   background-color: #721c6e;
}
#menu__toggle:checked ~ .menu__btn > span {
   transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
   top: 0;
   transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
   top: 0;
   transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
   visibility: visible;
   left: 0;
}
.menu__btn > span,.menu__btn > span::before,.menu__btn > span::after,.menu__item,.menu__box{
   transition-duration: .25s;
}

.nav-menu{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu{
	display: flex;
	text-transform: uppercase;
}

.menu li{
	text-decoration: none;
	margin-left: 30px;
}

.hover{
	padding: 3px 15px;
	border-radius: 5px;
	border: 1px solid #87509c;
	transition: all 0.5s ease;
}

.hover:hover{
	background-color: #643a79;
	border: 1px solid #643a79;
}

.welcome{
	padding: 150px 0 60px 0;
	text-align: center;
}

.btn{
	display: block;
	margin: 90px auto;
	padding: 18px 80px;
	width: 130px;
	border-radius: 10px;
	background-color: #eb7d4b;
	transition: all 0.5s ease;
}

.btn:hover{
	background-color: #c86a40;
}

.services{
	padding-bottom: 120px;
	background-color: #17c2a4;
	color: #fff;
}

.line{
	margin: 20px auto;
	height: 4px;
	width: 90px;
	background-color: #14a58c;
}

.text-title{
	font-size: 18px;
}

.first-wrapper{
	padding: 120px 0 50px 0;
	text-align: center;
}

.wrapper{
	display: flex;
	justify-content: space-between;
}

.post{
	display: flex;
   align-content: space-between;
   flex-wrap:wrap;
}

.post img{
	margin: 0 auto;
	padding-bottom: 55px;
}

.description{
	margin: 0 auto;
	text-align: center;
	width: 200px;
}

.text{
	margin-top: 20px;
}

.team{
	background-color: #e7f1f8;
	padding-bottom: 127px;
}

.second-line{
	background-color: #c8d9e5;
}

.who{
	color: #30bae7;
	margin-top: 15px;
}

.mail li{
	margin-right: 11px;
}

.mail{
	margin-top: 34px;
	display: flex;
	justify-content: center;
}

.skills{
	background-color: #fff;
	padding-bottom: 120px;
}

.third-line{
	background-color: #dfe8ed;
}

.skill-img{
	margin-bottom: 32px;
}

.partfolio{
	background-color: #ffdd99;
}

.fourth-line{
	background-color: #e5c37f;
}

.parts{
	justify-content: center;
	display: flex;
	margin-bottom: 60px;
}

.part{
	box-shadow: 0 0 3px #000;
	border-radius: 5px;
	padding: 0 25px;
	margin-right: 10px;
	font-size: 18px;
	background-color: #ebc985;
}

.part:hover{
	background-color: #b3955b;
}

.part:active{
	background-color: #fff;
}

.works-reviews{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	text-transform: uppercase;
	text-align: center;
}

.work{
	margin-bottom: 60px;
}

.more-works{
	margin: 0 auto;
	padding: 20px 0 110px 0;
}
.btn-work{
	margin: 0;
	background-color: #17c2a4;
	padding: 25px 55px;
	width: 160px;
}

.btn-work:hover{
	background-color: #1c9e87;
}

.reviews{
	color: #fff;
	background-color: #d74680;
}

.fifth-line{
	background-color: #b73c6d;
}

.review{
	width: 480px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 145px;
}

.text-review{
	text-transform: none;
	text-align: left;
	width: 340px;
}

.text-italic{
	padding-top: 15px;
	margin-bottom: 30px;
	font-size: 21px;
	font-style: italic;
}

.who-review{
	color: #ffdd99;
}

.wrapper-form{
	margin: 0 auto;
	width: 900px;
	padding-bottom: 120px;
}

.connection{
	color: #fff;
	background-color: #3c5499;
}

.sixth-line{
	background-color: #273a71;
}

.input{
	color: #fff;
	padding: 21px 0  21px 25px;
	font-size: 18px;
	border-radius: 5px;
	width: 410px;
	background-color: #273a71;
	margin-bottom: 26px;
}

::-webkit-input-placeholder { /* WebKit browsers */
	color: #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #fff;
}

.form{
	display: flex;
	justify-content: space-between;
}
.textarea{
	resize: none;
	color: #fff;
	padding: 21px 0 0 25px;
	font-size: 18px;
	background-color: #273a71;
	width: 875px;
	height: 200px;
	border-radius: 5px;
	margin-bottom: 60px;
}

.btn-form{
	width: 250px;
	padding: 15px 25px;
	margin: 0 auto;
	color: #fff;
	background-color: #30bae7;
}

.btn-form:hover{
	background-color: #318ba8;
}

.footer{
	background-color: #344b8e;
}

.social{
	padding: 50px 0;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	width: 960px;
}

.networks{
	font-size: 24px;
	font-weight: 600;
	color: #fff;
	transition: all 0.5s ease;
}

.networks:hover{
	color: #30bae7;
}


/*Адаптив*/

@media screen and (max-width: 1200px) {
	.container{
		width: 960px;
	}
	.work img{
		width: 450px;
	}
}
@media screen and (max-width: 992px) {
	.container{
		width: 720px;
	}
	a{
		font-size: 14px;
	}
	h1{
		font-size: 30px;
	}
	h3{
		font-size: 18px;
	}
	p{
		font-size: 14px;
	}
	.description{
		width: 170px;
	}
	.mugshot{
		width: 150px;
		height: 150px;
	}
	.works-reviews{
		flex-direction: column;
	}
	.work img{
		width: 530px;
	}
	.review{
		width: 100%;
		margin-bottom: 20px;
	}
	.text-review{
		width: 100%;
	}
	.text-italic{
		padding-top: 0;
	}
	.text-title{
		font-size: 14px;
	}
	.wrapper-form{
		width: 720px;
	}
	.input{
		width: 310px;
	}
	.textarea{
		padding-left: 20px;
		width: 700px;
	}
	.social{
		width: 720px;
	}
}
@media screen and (max-width: 768px) {
	.container{
		width: 540px;
	}
	h1{
		font-size: 20px;
	}
	h2{
		font-size: 25px;
	}
	.menu li{
		margin-left: 0;
	}
	.input{
		width: 495px;
	}
	.textarea{
		width: 500px;
	}
	.form{
		justify-content: center;
		flex-wrap: wrap;
	}
	.social{
		width: 540px;
	}
	.networks{
		font-size: 18px;
	}
	.wrapper-form{
		width: 540px;
	}
	.form-textarea{
		width: 520px;
		margin: 0 auto;
	}
	.wrapper{
		flex-wrap: wrap;
		justify-content: flex-end;
	}
	.description{
		width: 200px;
	}
	.description h3{
		margin-bottom: 10px;
	}
	.who{
		margin-top: 5px;
	}
	.text-title{
		font-size: 12px;
	}
	.who-post{
		width: 90%;
	}
	.service-wrap{
		text-align: left;
		width: 300px;
	}
	.service-img{
		position: relative;
		left: -60px;
	}
	.services{
		padding-bottom: 0;
	}
}
@media screen and (max-width: 576px) {
	.container{
		width: 90%;
	}
   body{
      min-width: 320px;
   }
	.header{
		padding-top: 30px;
	}
   .hamburger-menu{
      display: block;
   }
   .logo{
      margin: 0 auto;
      display: block;
   }
   .welcome{
      padding-top: 40px;
   }
	.nav{
		display: none;
	}
	.menu{
		justify-content: space-around;
	}
	a{
		font-size: 12px;
	}
	.hover{
		padding: 2px 10px;
	}
	.service-img{
      display: none;
	}
	.services{
		padding-bottom: 20px;
	}
	.service-wrap{
		text-align: center;
	}
   .btn{
      padding: 18px 60px;
   }
   .text{
      margin: 15px 0;
   }
	.part{
		font-size: 12px;
		padding: 0 15px;
		margin-right: 5px;
	}
	.work img{
		width: 90%;
	}
	.text-italic{
		font-size: 16px;
		margin-bottom: 15px;
	}
   .wrapper{
      justify-content: space-around;
   }
	.wrapper-form{
		width: 90%;
	}
	.input{
		width: 200px;
	}
	.textarea{
		width: 200px;
	}
	.social{
		padding: 30px 0;
		width: 90%;
		justify-content: space-around;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.networks{
		font-size: 14px;
		margin: 0 10px 10px 0;
	}
	h4{
		font-size: 14px;
	}
	.form-textarea{
		width: 225px;
	}
}
