<header id="header" class="header">
        <div class="container header__container">
          <a href="/" class="header__logo">
            <img class="header__logo-icon" src="../img/logo.svg">
            <span class="header__logo-name">Ilya Belevcev</span>
          </a>
          <nav class="header__nav">
            <ul class="header__nav-list" data-menu>
                <li class="header__nav-item">
                  <a href="/" id="main-link" class="header__nav-link">Главная</a>
                </li>
                <li class="header__nav-item">
                  <a href="portfolio.html" id="portfolio-link" class="header__nav-link">Портфолио</a>
                </li>
                <li class="header__nav-item">
                  <a href="cv.html" id="cv-link" class="header__nav-link">Резюме</a>
                </li>
                <li class="header__nav-item">
                  <button class="btn-reset header__nav-link" id="modalOpenFirst" data-graph-path="modal">Связаться</button>
                </li>
            </ul>
          </nav>
          <!-- <div class="header__lang"></div> -->
          <button class="burger" aria-label="Открыть меню" aria-expanded="false"  data-burger>
            <span class="burger__line"></span>
          </button>
        </div>
      </header>
