<header class="header">
   <div class="container header__container">
      <a href="#" class="header__logo">
         <img src="../img/logo.svg" alt="IlyaBelevcev" class="header__logo-img">
      </a>
      <nav class="header__nav">
         <ul class="header__nav-list" data-menu>
            <li class="header__nav-item">
               <a href="#" class="header__nav-link">Главная</a>
            </li>
            <li class="header__nav-item">
               <a href="#" class="header__nav-link">Сведения</a>
            </li>
            <li class="header__nav-item">
               <a href="#" class="header__nav-link">Портфолио</a>
            </li>
            <li class="header__nav-item">
               <a href="#" class="header__nav-link">Услуги</a>
            </li>
            <li class="header__nav-item">
               <a href="#" class="header__nav-link">CV</a>
            </li>
         </ul>
      </nav>
      <div class="header__socials">
         <ul class="header__socials-list">
            <li class="header__socials-item">
               <a href="#" class="header__socials-link">
                  <img src="#" alt="LinkedIn" class="header__socials-icon">
               </a>
            </li>
            <li class="header__socials-item">
               <a href="#" class="header__socials-link">
                  <img src="#" alt="Instagram" class="header__socials-icon">
               </a>
            </li>
            <li class="header__socials-item">
               <a href="#" class="header__socials-link">
                  <img src="#" alt="Gmail" class="header__socials-icon">
               </a>
            </li>
         </ul>
      </div>
      <button class="burger" aria-label="Открыть меню" aria-expanded="false"  data-burger>
        <span class="burger__line"></span>
      </button>
   </div>
</header>
<!-- 3 отступа вправо всех строк кроме первой -->
