<div id="modal" class="graph-modal modal">
        <div class="graph-modal__container modal__container" id="modalContainer" role="dialog" aria-modal="true" data-graph-target="modal">
          <button class="btn-reset js-modal-close graph-modal__close modal__close" id="modalClose" aria-label="Закрыть модальное окно"></button>
          <div class="graph-modal__content modal__content">
            <div class="modal__about">
              <div class="modal__about-content">
                <h2 class="modal__about-heading">Обо мне</h2>
                <p class="modal__about-descr"></p>
              </div>
            </div>
            <div class="modal__contact">
              <div class="modal__contact-content">Contact</div>
            </div>
          </div>
        </div>
      </div>
