<section class="slider">
        <div class="container slider__container">
          <div class="swiper slider__swiper">
            <div class="slider__swiper-wrapper swiper-wrapper">
              <div class="slider__swiper-slide slider__first-slide swiper-slide">
                <img loading="lazy" src="./img/hero-first-img.jpg" class="slider__swiper-img">
              </div>
              <div class="slider__swiper-slide slider__second-slide swiper-slide">
                <img loading="lazy" src="./img/hero-second-img.jpg" class="slider__swiper-img">
              </div>
              <div class="slider__swiper-slide slider__third-slide swiper-slide">
                <img loading="lazy" src="./img/hero-third-img.jpg" class="slider__swiper-img">
              </div>
            </div>
            <div class="slider__swiper-pagination swiper-pagination"></div>
          </div>
        </div>
      </section>
