/* ! Шрифт ! */
@font-face {
   font-family: 'montserratbold';
   src:  url('montserrat-bold.woff2') format('woff2'),
         url('montserrat-bold.woff') format('woff');
   font-weight: normal;
   font-style: normal;

}

@font-face {
   font-family: 'montserratextrabold';
   src:  url('montserrat-extrabold.woff2') format('woff2'),
         url('montserrat-extrabold.woff') format('woff');
   font-weight: normal;
   font-style: normal;

}

@font-face {
   font-family: 'montserratregular';
   src:  url('montserrat-regular.woff2') format('woff2'),
         url('montserrat-regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;

}

@font-face {
   font-family: 'montserratsemibold';
   src:  url('montserrat-semibold.woff2') format('woff2'),
         url('montserrat-semibold.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
/* ! Переменные ! */
:root{
   --custom-white-color: #fff;
   --custom-f90-color: #ff9900;
   --custom-3-color: #333;
   --custom-ca-color: #cacaca;
   --custom-active-color: #e1670e;
   --custom-hover-btn: rgba(255, 153, 0, 0.7);
}
/* ! Общее ! */
html,body{
   font-size: 16px;
   font-family: 'Montserrat', sans-serif !important;
}

*, *:after, *:before {
   box-sizing: border-box;
}

button{
   cursor: pointer;
   background-color: transparent;
}

a{
   text-decoration: none;
   font-weight: 600;
}

.container{
   margin: 0 auto;
   /* padding: 0px 10px; */
   max-width: 1770px;
}

.btn{
   color: var(--custom-white-color);
   background-color: var(--custom-f90-color);
   transition: background-color 0.5s linear;
}

.section-heading{
   font-size: 48px;
   line-height: 59px;
   font-weight: 400;
   color: var(--custom-3-color)
}

.heading-description {
   line-height: 32px;
   margin-bottom: 50px;
}

/* ! Header ! */
.header{
   position: fixed;
   z-index: 2;
   width: 100%;
   background-color: var(--custom-white-color);
   box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header__container {
   /* position: relative; */
   padding-top: 14px;
   padding-bottom: 14px;
   align-items: center;
   display: flex;
}

.header__menu {
   overflow: hidden;
   position: absolute;
   z-index: 100;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   max-width: 40%;
   height: 320px;
   padding-top: 70px;
   background-color: #fff;
   transition: transform 0.3s ease-in-out;
   transform: translateX(-101%);
   box-shadow: 0px 1px 4px 0px #000;
}

.header__menu-list{
   text-transform: uppercase;
   text-align: center;
}

.header__menu-item{
   margin-bottom: 30px;
}

.header__burger {
   display: none;
   position: relative;
   z-index: 100;
   width: 30px;
   height: 23px;
   cursor: pointer;
}

.header__burger span,
.header__burger:before,
.header__burger:after{
   height: 3px;
   width: 100%;
   position: absolute;
   left: 0;
   background: #515758;
}

.header__burger:before,
.header__burger:after{
   content: '';
}

.header__burger:before{
   top: 10px;
}

.header__burger:after{
   bottom: 0px;
}

.header__burger.open-menu span{
   opacity: 0;
   transition: 0.1s;
}

.header__burger.open-menu:before {
   transform: rotate(45deg);
   transition: transform  0.2s ease-in-out;
}

.header__burger.open-menu:after {
   transform: rotate(-45deg);
   bottom: 10px;
   transition: transform  0.2s ease-in-out, bottom 0.2s ease-in-out;
}

.open-menu{
   left: 1px;
}

.is-active{
   transform: none;
}

.header__logo {
   margin-right: auto;
}

.header__nav-list {
   display: flex;
}

.header__list-item {
   margin-right: 85px;
}

.header__list-item-link {
   color: var(--custom-3-color);
   font-size: 18px;
   line-height: 22px;
   transition: border 0.1s ease-out;
}

/* ------Ссылки Navbar------ */
   /* ! *//* hover Navbar */
.header__list-item-link:hover{
   border-bottom: 2px solid var(--custom-f90-color);
}

/* ! *//* active Navbar */
.header__list-item-link:active{
   color: var(--custom-active-color);
   border-color: var(--custom-active-color);
}

/* ------Кнопка search------ */
   /* ! *//* hover search */
.header__btn-search-icon rect{
   transition: fill 0.1s linear;
}

.header__btn-search-icon path {
   transition: stroke 0.1s linear;
}

.header__btn-search-icon:hover path{
   stroke: var(--custom-f90-color);
}

.header__btn-search-icon:hover rect{
   fill: var(--custom-f90-color);
}

   /* ! *//* active search */
.header__btn-search:active{
   outline: none;
}

.header__btn-search-icon:active path{
   stroke: var(--custom-f90-color);
}

.header__btn-search-icon:active rect{
   fill: var(--custom-f90-color);
}

/* ! Hero ! */
.section-hero {
   padding-top: 100px;
}

.swiper{
   width: 100%;
   height: 620px;
}

.swiper-description {
   max-width: 837px;
   color: var(--custom-white-color);
   position: absolute;
   top: 100px;
   left: 80px;
   z-index: 10;
}

.section-hero__title {
   font-size: 70px;
   font-weight: 800;
   line-height: 85px;
   margin-bottom: 24px;
}
.section-hero__description {
   font-size: 24px;
   font-weight: 700;
   line-height: 29px;
   margin-bottom: 90px;
}
.section-hero__btn {
   padding: 25px 36px;
   font-weight: 700;
   font-size: 24px;
   line-height: 28.5px;
   transition: background-color 0.1s linear;
}

.swiper-pagination-bullet{
   width: 15px;
   height: 15px;
   margin: 0px 10px !important;
}

.swiper-pagination-bullet-active{
   background: var(--custom-white-color);
}

/* ------Кнопка заказать расчёт------ */
   /* ! *//* hover hero-btn */
.section-hero__btn:hover{
   background-color: var(--custom-hover-btn);
}

   /* ! *//* active hero-btn */
.section-hero__btn:active{
   background-color: var(--custom-active-color);
}

.swiper-slide{
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}

.slide-1{
   background-image: url('../img/balconies.jpg');
}

.slide-2 {
   background-image: url('../img/apartment.jpg');
}

.slide-3 {
   background-image: url('../img/glass-building.jpg');
}

/* ! About ! */
.section-about {
   padding-top: 100px;
}

.section-about__heading {
   margin-bottom: 20px;
}

.section-about__section-description {
   max-width: 70%;
}

.section-about__cards {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.section-about__cards-left {
   padding-top: 430px;
   max-width: 49.05%;
   background: url('../img/about-image.jpg') no-repeat center center/cover;
}

.section-about__cards-left-info{
   background: rgba(0, 0, 0, 0.5);
   padding: 50px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.section-about__cards-left-description {
   color: var(--custom-white-color);
   line-height: 32px;
   font-weight: 700;
   max-width: 59.1%;
}

.section-about__btn{
   font-weight: 700;
   line-height: 19.5px;
   padding: 20px 38px;
   color: var(--custom-white-color);
   border: 1px solid var(--custom-f90-color);
   transition: background-color 0.2s linear;
}

/* ------Кнопка подробнее------ */
   /* ! *//* hover about-btn */
.section-about__btn:hover {
   background-color: var(--custom-f90-color);
}

   /* ! *//* active about-btn */
.section-about__btn:active{
   background-color: var(--custom-active-color);
   border-color: var(--custom-active-color);
}

.section-about__cards-right{
   max-width: 49.1%;
}

.section-about__card-right {
   height: auto;
   border: 1px solid var(--custom-ca-color);
   color: var(--custom-3-color);
   padding: 65px 115px 65px 300px;
}

.top {
   margin-bottom: 32px;
   background: url('../img/about-box.svg') no-repeat;
   background-position: calc(0% + 60px) 50%;
}

.card-heading {
   margin-bottom: 8px;
   font-size: 24px;
   line-height: 29px;
   font-weight: 700;
}

.section-about__card-description {
   line-height: 32px;
}
.bottom {
   background: url('../img/about-gear.svg') no-repeat;
   background-position: calc(0% + 60px) 50%;
}

/* ! How ! */
.section-how{
   padding-top: 100px;
}

.section-how__heading{
   margin-bottom: 50px;
}

.section-how__nav-steps {
   display: flex;
   margin-bottom: 50px;
}
.section-how__steps-item:not(:last-child) {
   margin-right: 86px;
}

.section-how__steps-item-btn {
   color: var(--custom-3-color);
   font-size: 18px;
   line-height: 22px;
   transition: color 0.2s linear;
}

.steps-btn-active{
   color: var(--custom-active-color);
}
/* ------Кнопка Step------ */
   /* ! *//* hover step-btn */
.section-how__steps-item-btn:hover{
   color: var(--custom-f90-color);
}

   /* ! *//* active step-btn */
.section-how__steps-item-btn:active{
   color: var(--custom-active-color);
}

.tab-content{
   display: none ;
}

.tab-active{
   display: block;
}

.section-how__slider {
   display: flex;
   justify-content: space-between;
}

.section-how__slider-info{
   max-width: 42.82%;
   display: flex;
   flex-direction: column;
}

.section-how__slider-description {
   margin-bottom: auto;
}

.section-how__slider-links{
   transform: translateY(-19px);
}

.section-how__slider-links-more {
   padding: 20px 39px;
   margin-right: 30px;
   transition: background-color 0.1s linear;
}

/* ------Кнопка More------ */
   /* ! *//* hover more-link */
.section-how__slider-links-more:hover{
   background-color: #F7B045;
}

   /* ! *//* active more-link */
.section-how__slider-links-more:active{
   background-color: var(--custom-active-color);
}

.section-how__slider-links-contract {
   color: var(--custom-3-color);
   line-height: 20px;
   border: 1px solid var(--custom-3-color);
   padding: 19px 35px;
   transition: background-color 0.1s linear, color 0.2s linear, border .1s linear;
}

/* ------Кнопка Contract------ */
   /* ! *//* hover contract-link */
.section-how__slider-links-contract:hover{
   color: var(--custom-white-color);
   background-color: #666;
   border-color: #666;
}

   /* ! *//* active contract-link */
.section-how__slider-links-contract:active{
   color: var(--custom-white-color);
   background-color: #000;
   border-color: #000;
}

.section-how__slider-img{
   object-fit: cover;
   max-width: 49.2%;
}

/* ! FAQ ! */
.section-faq{
   padding-top: 100px;
   padding-bottom: 100px;
}

.section-faq__heading{
   margin-bottom: 32px;
}

/* Аккордеон */
.ui-accordion{
   font-family: 'Montserrat', sans-serif;
}

.ui-accordion .ui-accordion-header{
   display: flex;
   flex-direction: row-reverse;
   justify-content: flex-end;
   align-items: center;
   background-color: #fff;
   border-top: none;
   border-right: none;
   border-bottom: 1px solid #CACACA;
   border-left: none;
   text-align: left;
   padding: 35px 0px;
   color: var(--custom-3-color);
   font-size: 24px;
   line-height: 32px;
   font-weight: 700;
   transition: color 0.2s linear;
}

.ui-accordion-header-collapsed:hover{
   color: var(--custom-f90-color);
}

.ui-accordion-header-collapsed:hover .ui-accordion-header-icon{
   background-image: url('../img/cross-white.svg');
   background-color: var(--custom-f90-color);
}

.ui-accordion-header:focus .ui-accordion-header-icon{
   background-image: url('../img/cross.svg');
   background-color: #ECECEC;
}

.ui-state-active .ui-icon{
   background-image: url('../img/cross.svg');
   transform: rotate(135deg);
   transition: transform 0.2s linear;
   background-color: #ECECEC;
}

.ui-accordion .ui-accordion-header-first-child{
   border-top: 1px solid #CACACA;
}

.ui-accordion-header-icon{
   /* margin: 0px 0px 0px 100px; */
   background-color: #ECECEC;
   width: 50px;
   height: 50px;
   border-radius: 50px;
   background-image: url('../img/cross.svg');
   background-position: center center;
   transition: background-color 0.2s linear, background-image 0.2s linear, transform 0.2s linear;
}

.acoordion-heading{
   margin-right: auto;
}

.ui-accordion .ui-accordion-content{
   max-width: 70%;
   border: none;
   color: var(--custom-3-color);
   font-size: 16px;
   line-height: 32px;
   font-weight: 400;
   padding: 10px 10px 0px 0px;
}


/* ! Footer ! */
.footer {
   padding-top: 50px;
   padding-bottom: 50px;
   background-color: #222;
}
.footer__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.footer__logo{
   margin-bottom: 20px;
}

.footer__nav-list {
   margin-bottom: 90px;
}

.footer__list-item-link {
   font-size: 18px;
   font-weight: 600;
   line-height: 36px;
   color: var(--custom-ca-color);
   transition: color 0.1s linear;
}

/* ------Ссылки Footer-Navbar------ */
   /* ! *//* hover Footer-Navbar */
.footer__list-item-link:hover{
   color: var(--custom-f90-color);
}

   /* ! *//* active Footer-Navbar */
.footer__list-item-link:active{
   color: var(--custom-active-color);
}

.footer__nav-list-socials {
   display: flex;
}

.footer__socials-item:not(:last-child) {
   margin-right: 25px;
}

.footer__socials-link path{
   transition: fill 0.2s linear;
}

/* ------Ссылки Footer-Socials------ */
   /* ! *//* hover Footer-Socials */
.footer__socials-link:hover path{
   fill: var(--custom-f90-color);
}

   /* ! *//* active Footer-Socials */
.footer__socials-link:active path{
   fill: var(--custom-active-color);
}

.footer__form-title {
   color: var(--custom-ca-color);
   font-size: 48px;
   line-height: 59px;
   margin-bottom: 25px;
}

.form {
   display: flex;
   flex-direction: column;
}

.form__body {
   max-width: 570px;
}

.form__item {
   display: flex;
   flex-direction: column;
}

.form__item:nth-child(-n+3){
   margin-bottom: 25px;
}

.form__item:nth-child(4){
   margin-bottom: 32px;
}

.form__input {
   width: 100%;
   background-color: #414141;
   padding: 25px 20px;
   font-size: 16px;
   color: #fff;
   transition: background-color 0.1s linear;
}

.form__input.__error{
   outline: 1px solid #FF5C00;
}

.form__input:hover,
.form__input:focus{
   background-color: #666666;
}

.form__input::placeholder {
   color: #CACACA;
   transition: color 0.1s linear;
}

.checkbox.__error .checkbox__label::before{
   border-color: #FF5C00;
}

.checkbox__input {
   display: none;
}

.checkbox__input:checked + .checkbox__label::after{
   opacity: 0.9;
}

.checkbox__label {
   position: relative;
   width: 100%;
   font-size: 16px;
   line-height: 20px;
   display: inline-flex;
   align-items: center;
   cursor: pointer;
   color: #CACACA;
}

.checkbox__label span{
   transform: translateY(-3px);
   transition: color 0.1s linear;
}

.checkbox__label span a {
   color: var(--custom-f90-color);
   text-decoration: none;
}

.checkbox__label:hover span,
.checkbox__label:focus span{
   color: #cacaca;
}

.checkbox__label::before{
   content: '';
   margin: 0px 5px 0px 0px;
   align-self: flex-start;
   flex: 0 0 12px;
   height: 12px;
   background-color: transparent;
   border: 1px solid #cacaca;
}

.checkbox__label::after{
   content: '';
   position: absolute;
   left: 4px;
   top: 1px;
   width: 4px;
   height: 7px;
   border-top: none;
   border-right: 2px solid #97EE3F;
   border-bottom: 2px solid #97EE3F;
   border-left: none;
   opacity: 0;
   transform: rotate(45deg);
   transition: opacity 0.1s linear;
}

.form__button {
   color: #fff;
   font-size: 20px;
   line-height: 23px;
   padding: 18.5px 52px;
   background-color: var(--custom-f90-color);
   cursor: pointer;
   transition: background-color 0.2s linear, transform 0.1s linear;
}

.form__button:hover,
.form__button:focus{
   background-color: var(--custom-hover-btn);
}

.form__button:active{
   background-color: var(--custom-active-color);
   transform: translateY(1px);
}



.footer__footer-right {
   color: var(--custom-ca-color);
   line-height: 32px;
   max-width: 363px;
}


/* Адаптив */
@media screen and (max-width: 1770px) {
   .container{
      max-width: 90.3%;
   }
   .banner__slide{
      padding-right: 80px;
   }
   .section-about__section-description {
      max-width: 100%;
   }
   .section-about__cards-left{
      padding-top: 476px;
   }
   .section-about__cards-left-description{
      max-width: 55%;
   }
   .section-about__cards-left-info{
      padding-left: 15px;
      padding-right: 15px;
   }
   .section-about__card-right{
      padding: 165px 75px 36px 55px;
   }
   .top,.bottom{
      background-position: 50% calc(0% + 5px);
      background-size: 25%;
   }
   .section-how__slider-description{
      margin-bottom: 45px;
   }
   .ui-accordion .ui-accordion-content{
      max-width: 100%;
   }
}

@media screen and (max-width: 1400px) {
   .swiper{
      height: 500px;
   }

   .swiper-description {
      top: 60px;
      left: 60px;
   }
   .section-hero__title{
      font-size: 60px;
      line-height: 73px;
   }
   .section-hero__description{
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 60px;
   }
   .section-about__cards{
      flex-direction: column;
      justify-content: flex-start;
   }
   .section-about__cards-left{
      max-width: 100%;
      padding-top: 444px;
      background-position: initial;
      margin-bottom: 32px;
   }
   .section-about__cards-left-info{
      padding-left: 50px;
      padding-right: 50px;
   }
   .section-about__cards-right{
      max-width: 100%;
   }
   .section-about__card-right{
      padding: 65px 155px 65px 317px;
   }
   .top,.bottom{
      background-position: calc(0% + 77px) 50%;
      background-size: 190px 165px;
   }
   .footer__footer-right{
      display: none;
   }
}

@media screen and (max-width: 1200px) {
   .header__list-item{
      margin-right: 45px;
   }
   .banner__slide{
      padding: 160px 77px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
   }
   .banner__slide--1{
      background-image: url('../img/balconies-1024.jpg');
   }
   .section-about{
      padding-top: 80px;
   }
   .section-how{
      padding-top: 80px;
   }
   .section-faq{
      padding-top: 80px;
      padding-bottom: 80px;
   }
   .ui-accordion .ui-accordion-header{
      font-size: 20px;
   }
   .acoordion-heading{
      max-width: 86%;
   }
}

@media screen and (max-width: 1024px) {
   .header__container{
      justify-content: space-between;
   }
   .header__burger{
      display: block;
   }
   .header__nav{
      display: none;
   }
   .header__logo{
      margin-right: 0;
   }
   .swiper{
      height: 668px;
   }
   .swiper-description {
      max-width: 770px;
      top: 160px;
      left: 77px;
   }
}

@media screen and (max-width: 992px) {
   .section-hero__title{
      font-size: 50px;
      line-height: 61px;
   }
   .section-hero__description{
      font-size: 18px;
      line-height: 22px;
   }
   .section-about__cards-left-info{
      padding: 34px 40px 36px 40px;
   }
   .section-about__card-right{
      background-position: calc(0% + 40px) 50%;
      background-size: 114px 99px;
      padding: 35px 48px 35px 170px;
   }
   .section-how__nav-steps{
      justify-content: space-between;
   }
   .section-how__steps-item{
      margin-right: 0 !important;
   }
   .section-how__slider{
      flex-direction: column-reverse;
   }
   .section-how__slider-info{
      max-width: 100%;
   }
   .section-how__slider-img{
      max-width: 100%;
      margin-bottom: 38px;
   }
   .footer__container{
      flex-direction: column-reverse;
      align-items: center;
   }
   .footer__nav-list{
      display: none;
   }
   .footer__footer-center{
      padding-bottom: 16px;
      border-bottom: 1px solid #595959;
   }
   .footer__footer-left{
      padding-top: 16px;
   }
}

@media screen and (max-width: 768px) {
   .container{
      max-width: 87%;
   }
   .swiper{
      height: 662px;
   }
   .swiper-description {
      max-width: 588px;
      left: 40px;
   }
   .section-about__cards-left{
      background-position: calc(0% - 160px) 50%;
   }
   .section-about__cards-left-description{
      max-width: 66%;
   }
   .ui-accordion-header-icon{
      width: 42px;
      height: 42px;
   }
   .ui-accordion .ui-accordion-content{
      font-size: 14px;
      line-height: 28px;
   }
}
@media screen and (max-width: 576px) {
   .container{
      max-width: 90%;
   }
   .header{
      position: static;
   }
   .section-heading{
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 20px;
   }
   .header__logo{
      max-width: 38%;
   }
   .section-hero{
      padding-top: 0;
   }
   .swiper{
      height: 308px;
   }
   .swiper-description {
      text-align: center;
      max-width: 100%;
      padding: 60px 22px 0px 22px;
      top: 0;
      left: 0;
   }
   .section-hero__title{
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 6px;
   }
   .section-hero__description{
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 32px;
   }
   .section-hero__btn{
      padding: 10px 30px;
      font-size: 12px;
      line-height: 15px;
   }
   .section-about{
      padding-top: 60px;
   }
   .section-about__cards-left{
      padding: 200px 0px 0px 0px;
      background-position: center;
   }
   .section-about__cards-left-info{
      padding: 20px;
      align-items: flex-start;
      flex-direction: column;
   }
   .section-about__cards-left-description{
      font-size: 10px;
      line-height: 15px;
      max-width: 100%;
      margin-bottom: 20px;
   }
   .section-about__btn{
      font-size: 14px;
      line-height: 15px;
      padding: 10px 20px;
   }
   .section-about__card-right{
      border: none;
      background-position: top left;
      padding: 100px 0px 0px 0px;
   }
   .card-heading{
      font-size: 18px;
      line-height: 22px;
      font-weight: 500;
      margin-bottom: 4px;
   }
   .section-about__card-description,
   .section-how__slider-description,
   .section-about__section-description{
      font-size: 14px;
      line-height: 28px;
   }
   .section-how__slider-description{
      margin-bottom: 16px;
   }
   .section-how{
      padding-top: 60px;
   }
   .section-how__nav-steps{
      margin-bottom: 20px;
   }
   .section-how__steps-item-btn{
      font-size: 14px;
      line-height: 17px;
   }
   .section-how__slider-links{
      display: flex;
      justify-content: flex-start;
      transform: none;
   }
   .btn-mobile{
      font-size: 12px;
      line-height: 15px;
      padding: 14px 30px 14px 30px;
   }
   .btn-mobile:nth-child(1){
      margin-right: 10px;
   }
   .section-faq{
      padding-top: 60px;
      padding-bottom: 60px;
   }
   .ui-accordion .ui-accordion-header{
      font-size: 14px;
      line-height: 24px;
   }
   .acoordion-heading{
      max-width: 70%;
   }
   .footer__form-title{
      font-size: 24px;
      line-height: 29px;
   }
}
