$font-family: Montserrat, sans-serif
$content-width: 1750px
$container-offset: 15px
$container-width: calc($content-width + $container-offset * 2)
$default-text-color: #fff
$active-hover-color: #2db2ff
$default-bg-color: #000
$abilities-color: #909090
$line-bg-color: #505050
